<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clidente | Conócenos</title>
</head>

<body>
    <div>
        <h2>Nuestra misión</h2>
        <p>Brindar un servicio integral de salud dental a través de servicios odontológicos de alta calidad, ética y
            vocación, ofreciendo a nuestros clientes precios accesibles, y competitivos. Teniendo una sola base económica
            que nos permita utilizar los mejores materiales, brindando mayor seguridad y superando las expectativas de
            nuestros clientes.</p><br>
        <h2>Nuestra visión</h2>
        <p>Ser una empresa innovadora, sólidamente constituida y reconocida por su calidad de servicio creciendo a nivel
            nacional con la mejor tecnología innovando continuamente procesos para brindar los mejores servicios integrales
            en el cuidado de la salud bucal, ortodoncia e implantología, con el aporte de nuestros colaboradores,
            garantizamos el bienestar y la satisfacción de nuestros clientes. </p><br>
        <h2>Nuestros valores</h2>
        <ul>
            <li>Honradez</li>
            <li>Amabilidad</li>
            <li>Disciplina</li>
            <li>Profesionalismo</li>
        </ul><br>
    </div>

    <h2>Nuestro equipo</h2>
    
    <div>
        <h3>Dra. Olga Vigil de García</h3>
        <ul>
            <li>Doctorado en Cirugía Dental de la Universidad Evangélica de El Salvador.</li>
            <li>Práctica Cirugía Oral.</li>
            <li>Rehabilitación Oral.</li>
            <li>Práctica de Implantología (MIS).</li>
            <li>Práctica de Endodoncia Rotatoria.</li>
            <li>Experiencia Laboral 16 años.</li>
        </ul>

        <img src="/static/images/Dra_Olga.jpg" alt="Dra.Olga">
    </div>

    <div>
        <h3>Dra. Elena Arriaza</h3>
        <ul>
            <li>Doctorado en cirugía Dental.</li>
            <li>Ortodoncista y Ortopedista, graduada en Guadalajara Mexico. (Instituto Nacional de Ortodoncia y Ortopedia Maxilar).</li>
            <li>Miembro de Asociación Iberoamericana de Ortodoncistas.</li>
            <li>Práctica Clínica en pacientes labio leporino y paladar hendido.</li>
            <li>Post Grado en Ortodoncia de la Universidad Cruzeiro do Sul. (Brazil)</li>
        </ul>

        <img src="/static/images/Dra_Arriaza.jpg" alt="Dra.Arriaza">
    </div>

    <div>
        <h3>Dra. Nancy Beatriz Velásquez Gil</h3>
        <ul>
            <li>Doctorado en Cirugía Dental de la Universidad Evangélica de El Salvador.</li>
            <li>Rehabilitación Oral.</li>
            <li>Experiencia Laboral 3 años.</li>
        </ul>

        <img src="/static/images/Dra_Nancy.jpg" alt="Dra.Nancy">
    </div>

    <div>
        <h3>Dra. Guiselda Guadalupe Serpas Soriano</h3>
        <ul>
            <li>Doctorado en Cirugía Dental de la Universidad Nueva San Salvador.</li>
            <li>Práctica en Cirugía Dental.</li>
            <li>Rehabilitación Oral.</li>
            <li>Experiencia Laboral 16 años.</li>
        </ul>

        <img src="/static/images/Dra_Guadalupe.jpg" alt="Dra.Guadalupe">
    </div>

    <div>
        <h3>Dra. Emily Aguirre</h3>
        <ul>
            <li>Doctorado en Cirugía Dental de la Universidad Evangélica de El Salvador.</li>
            <li>Práctica en Cirugía Dental.</li>
            <li>Experiencia Laboral 6 años.</li>
        </ul>

        <img src="/static/images/Dra_Emily.jpg" alt="Dra.Emily">
    </div>

    <div>
        <h3>Dra. María Eugenia Rojas</h3>
        <ul>
            <li>Doctorado en Cirugía Dental en la Universidad Nueva San Salvador.</li>
            <li>Práctica en Cirugía Dental.</li>
            <li>Rehabilitación Oral.</li>
            <li>Participación en Jornada de Odontología infantil.</li>
            <li>Actividad Clínica: 10 Años.</li>
        </ul>

        <img src="/static/images/Dra_Rojas.jpg" alt="Dra.Rojas">
    </div>

    <div>
        <h3>Dr. Earl Litz Osegueda</h3>
        <ul>
            <li>Doctorado en Cirugía Dental de la Universidad de El Salvador.</li>
            <li>Rehabilitación Oral.</li>
            <li>Cirugía Bucal y Maxilofacial en Hospital Nacional Rosales.</li>
            <li>Actividad Clínica: 8 Años.</li>
        </ul>

        <img src="/static/images/Dr_Osegueda.jpg" alt="Dr.Osegueda">
    </div>

</body>

</html>