<div>
    <div class="caja-titulo">
        Registro Administrador
    </div>
    <div class="caja-input">
        <div class="caja-inputs">
            <table id="userTableAdmin" border="1">
                <tr>
                    <th>Usuario</th>
                    <th>Fecha</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Correo</th>
                    <th>Teléfono</th>
                    <th>Motivo</th>
                    <th>Hora</th>
                </tr>
            </table>
        </div>
    </div>
</div>