<div>
    <h1>addition client</h1>
    <br>

    <label for="number1">number1</label>
    <input type="number" name="number1" id="number1" placeholder="insert number one...">
    <br><br>
    <label for="number2">number2</label>
    <input type="number" name="number2" id="number2" placeholder="insert number two...">
    <br><br>
    <button onclick="add()">add</button>
    <br>
    <br>
    <table id="userTableClient" style="width:50%" border="1">
        <tr>
            <th>number1</th>
            <th>number2</th>
            <th>result</th>
        </tr>
    </table>
</div>