<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clidente | Citas</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <h2>Reserva tu cita</h2>

    <form id="cita">
        <label>Fecha*:</label> <br>
        <input type="date" id="fecha"><br>
        <label for="nombre">Nombre*:</label> <br>
        <input type="text" name="nombre" id="name"> <br>
        <label for="apellido">Apellido*:</label> <br>
        <input type="text" name="apellido" id="apellido"> <br>
        <label for="correo">Correo electrónico*:</label> <br>
        <input type="text" name="correo" id="correo"> <br>
        <label for="telefono">Número telefónico*:</label> <br>
        <input type="text" name="telefono" id="telefono"> <br>
        <label for="">Motivo de la cita*:</label><br>
        <textarea name="motivo" id="motivo" class="motivo" rows="6" cols="22"></textarea><br>
        <label for="hora">Selecciona el horario que prefieras*:</label>
        <select name="hora" id="hora">
            <option value="hora1">9:00 AM - 10:00 AM</option>
            <option value="hora2">10:00 AM - 11:00 AM</option>
            <option value="hora3">11:00 AM - 12:00 PM</option>
            <option value="hora4">1:00 PM - 2:00 PM</option>
            <option value="hora5">2:00 PM - 3:00 PM</option>
            <option value="hora6">3:00 PM - 4:00 PM</option>
            <option value="hora7">4:00 PM - 5:00 PM</option>
        </select> <br>
        <button type="button" onclick="agregarCita()">Send</button>
    </form>

    <div id="proximaCita" style="display:none">
    <h2>Ha establecido su cita:</h2>
    <table id="userTableClient" style="width:50%" border="1">
        <tr>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Motivo</th>
        </tr>
    </table>
    </div>


</body>

</html>