<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clidente | Contáctanos</title>
</head>

<body>
    <h1>¿Tienes preguntas? Contáctanos</h1>
    <form action="mailto:tatianabarahona57@gmail.com" id="contacto">
        <label for="correoPregunta">Ingresa tu correo electrónico:</label><br>
        <input type="text" name=correoPregunta id=correoPregunta><br>
        <label for="pregunta">Ingresa tu pregunta:</label><br>
        <textarea name="pregunta" id="pregunta" cols="30" rows="10"></textarea><br>
        <input type="submit" value=Submit>
    </form>
</body>

</html>