<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Tratamientos | CLIDENTE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="/static/main.css" />
    <script src="https://kit.fontawesome.com/836a943e18.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico" />
</head>

<body>

    <header>
        <div class="encabezado">
            <h1>CLIDENTE</h1>
            <nav>
                <div class="nav-brand">
                    <a href="index.html">
                        Inicio
                    </a>
                    <a href="about.html">
                        Conócenos
                    </a>
                    <a href="productos.html">
                        Tratamientos
                    </a>
                    <a href="contacto.html">
                        Contacto
                    </a>
                    <a href="cita.html">
                        Reserva tu cita
                    </a>
            </nav>
        </div>

    </header>