<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clidente | Contáctanos</title>
</head>

<body>
    <h1>¿Tienes preguntas? Contáctanos</h1>
    <form id="form">
        <div class="input-container">
            <label for="">Nombre</label><br>
            <input type="text" name="nombre" id="nombre" class="input"> <br>
        </div>
        <div class="input-container">
            <label for="">Correo</label><br>
            <input type="email" name="email" id="email" class="input"><br>
        </div>
        <div class="input-container">
            <label for="">Teléfono de contacto</label><br>
            <input type="tel" name="phone" id="phone" class="input"><br>
        </div>
        <div class="input-container textarea">
            <label for="">Mensaje</label><br>
            <textarea name="message" id="message" class="input" rows="5" cols="40"></textarea><br>
        </div>
        <button onclick="sendMail()">Send</button>
    </form>
</body>

</html>