<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro Acádemico</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <div class="topbar">
        <img src="/static/images/logo.png" alt="ESEN">
        <h1 id="title">Registro Acádemico</h1>
        <h3 id="title">Excelencia Académica y Oportunidad para Todos</h3>
    </div>
    

    <div name="linkers" class="nav">
        <a href="#" onclick="hideDivById('inicio')">Inicio</a>
        <a href="#" onclick="hideDivById('servicios')">Servicios</a>
        <a href="#" onclick="hideDivById('reglamentos')">Reglamentos</a>
        <a href="#" onclick="hideDivById('contacto')">Contacto</a>
    </div>

    <div class="main">
        
        <div style="display:block" id="inicio" name="pages" w3-include-html="{{url_for('inicio')}}"></div>
        <div style="display:none" id="servicios" name="pages" w3-include-html="{{url_for('servicios')}}"></div>
        <div style="display:none" id="reglamentos" name="pages" w3-include-html="{{url_for('reglamentos')}}"></div>
        <div style="display:none" id="contacto" name="pages" w3-include-html="{{url_for('contacto')}}"></div>
        
    </div>

    <script src="https://www.w3schools.com/lib/w3.js"></script>
    <script src="/static/script.js"></script>
</body>

</html>